@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 211 45% 92%;
    --foreground: 240 64% 10%;
    --card: 211 45% 98%;
    --card-foreground: 240 64% 10%;
    --popover: 211 45% 98%;
    --popover-foreground: 240 64% 10%;
    --primary: 240 64% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 40% 85%;
    --secondary-foreground: 240 64% 10%;
    --muted: 211 40% 88%;
    --muted-foreground: 240 10% 40%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 30% 80%;
    --input: 211 30% 95%;
    --ring: 240 64% 27%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 211 45% 92%;
    --card: 240 10% 15%;
    --card-foreground: 211 45% 92%;
    --popover: 240 10% 15%;
    --popover-foreground: 211 45% 92%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 64% 27%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 20%;
    --muted-foreground: 211 40% 70%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 16 100% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}
